.articulos {
    h3 {
        color: $color-text;
    }
    p { 
        color: white;
     background: rgba(5, 2, 3, 0.589);
     margin: 40px auto 0 auto ; 
    
     text-align: center;
     font-size: 20px;
     padding: 10px;
     border-radius: 10px;
    } 

}