* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

.header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(192, 192, 176);
	color: rgb(30, 32, 32);
	nav {
		width: 70%;
	}
	ul {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		list-style: none;
		li a {
			color: $color-text;
			font-size: 20px;
			font-weight: 200px;
			text-decoration: none;
		}
	}
}
body {
	background-color: rgb(148, 156, 156);
	background-image: url("https://static.vecteezy.com/system/resources/previews/021/995/835/non_2x/stylish-minimalistic-gray-composition-with-design-vases-illustration-ai-generative-free-photo.jpg");
	opacity: 0.90;
	min-height: calc(100vh -(256+150));
}

@font-face {
	font-family: letra ;
	src: url(../assets/fonts/letra.ttf);
}
@font-face {
	font-family: roboto ;
	src: url(../assets/fonts/Roboto.ttf);
}
header {
	font-family: letra ;
}
.imagen {
	width: 20%;
	height: auto;
}
.roboto {
	font-family: roboto;
}
.color-h2{ 

	color: $color-text;
	padding: 20px;
}
.color-p {
	
	@extend .color-h2;
}
.text-color {
	color: gray;
}

.container {
	margin: 0 auto; 
	width: 100%;
	display: flex; 
	flex-direction: column;
	text-align: center;
}
// se puede separar la pagina en tres partes diferentes 1 footer 1 header 1 main//

  .m-pago {
	text-align: center; 
	ul {
		li{
			list-style: none;
		}
	}
  }  
  .rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

 @-webkit-keyframes rotate-center {
	0% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @keyframes rotate-center {
	0% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
